{{> nav}}

<div class="container">
  <h3>Wilkommen in der Kriegskammer {{user.name}}</h3>

  <hr>
  <h3>Clankriegsteilnahme eintragen</h3>

  <form action="/warroom/add" method="post" accept-charset="utf-8">
    <table>
      <tbody>
        {{#if treasurer}}
        <tr>
          <td><label>Clan: </label></td>
          <td>
            <select class="form-control" name="clan" id="clan_sel" onchange="changeClanForStats()">    
                {{#each clans}}
                    <option {{#ifEquals ../season.clan _id }}selected="selected"{{/ifEquals}} name="clan" value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
          </td>
        </tr>
        {{/if}}
        <tr>
          <td><label>Tag: </label></td>
          <td><input type="date" class="form-control" name="ckday" value="{{season.todayformated}}" min="{{season.startformated}}" max="{{season.endformated}}"></td>
        </tr>
        <tr>
          <td><label>Zeit: </label></td>
          <td>
            <select class="form-control" name="ckhour" id="ckhour_sel">
              <option value="04:00">Nacht</option>
              <option value="10:00">Vormittag</option>
              <option value="16:00">Nachmittag</option>
              <option value="22:00">Abend</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <select class="form-control searchable" name="participantlist" id='participantlist_sel' multiple='multiple'>
      {{#each users}}
        <option value='{{_id}}'>{{username}}</option>
      {{/each}}
    </select>
    <br>
    <input type="submit" name="submit" value="Speichern" id="submit" class="btn btn-primary btn-block btn-flat">
  </form>
  <hr>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <col>
    <col>
    <colgroup span="4"></colgroup>
    <thead>
      <tr>
        <th rowspan="2">Name</th>
        {{#ifNotEquals season.start header.0.day}}
        <form action="" method="get" accept-charset="utf-8">
          <input type="hidden" id="daycount" name="daycount" value="{{daycount}}">
          <th scope="col"><button type="submit" class="btn btn-primary btn-block btn-flat"><span class="glyphicon glyphicon-chevron-left"></span></span></button></th>
        </form>
        {{/ifNotEquals}}
        {{#ifEquals season.start header.0.day}}
        <th rowspan="2">TN</th>
        {{/ifEquals}}
        {{#each header}}
          <th colspan="4" scope="colgroup" style="text-align: center;">{{day}}</th>
        {{/each}}
      </tr>
      <tr>
        {{#ifNotEquals season.start header.0.day}}
        <th>TN</th>
        {{/ifNotEquals}}
        {{#each header}}
          <th scope="colgroup" style="text-align: center;">04:00</th>
          <th scope="colgroup" style="text-align: center;">10:00</th>
          <th scope="colgroup" style="text-align: center;">16:00</th>
          <th scope="colgroup" style="text-align: center;">22:00</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
              <td>{{username}}</td>
              <td>{{sum}}</td>
          {{#each days}}
              <td {{#if first}}class="success"{{/if}}{{#unless first}}class="danger"{{/unless}}></td>
              <td {{#if second}}class="success"{{/if}}{{#unless second}}class="danger"{{/unless}}></td>
              <td {{#if third}}class="success"{{/if}}{{#unless third}}class="danger"{{/unless}}></td>
              <td {{#if fourth}}class="success"{{/if}}{{#unless fourth}}class="danger"{{/unless}}></td>
          {{/each}}
            </tr>
        {{/each}}
    </tbody>
  </table>
</div>